@import url('https://fontlibrary.org/face/glacial-indifference');

@font-face {
  font-family: 'BodoniFLF';
  src: url('../fonts/BodoniFLF-Italic.ttf');
}

html {
	background-color: #0f2147;
}

body {
	background-color: #0f2147;
	background: linear-gradient(rgba(15, 33, 71, 0.5), rgba(15, 33, 71, 0.5)), url("../imgs/Time-medium.png") no-repeat fixed;
	background-position: 35%;
	background-size: 500px;
}

div.section div {
	font-family: 'GlacialIndifferenceRegular';
	top:0% !important;
	transform: translateY(0%)!important;
}

.secspan {
	top:0% !important;
	transform: translateY(0%)!important;
}

.maintitle {
	color: white;
	cursor: default;
	font-family: 'BodoniFLF';
	font-size: 50pt;
	padding: 20px;
}

.info {
	color:white;
}

.subt1 {
	color:white;
	margin-bottom: 15px!important;
	font-family: 'GlacialIndifferenceBold' !important;
}

.submit {
	font-family: "BodoniFLF" !important;
	font-size: 40px;
	margin-left: 40px!important;
	padding-top:40px;
}

.submit a {
	color:#e1ad17!important;
	text-decoration: none !important;
}

.submit a:visited{
	color:#e1ad17!important;
}

.subheader {
	color:#e1ad17!important;
	font-family: 'BodoniFLF' !important;
	font-size: 20pt;
	padding-bottom: 20px;
	padding-top: 30px;
}

/* this is such terrible design don't do this ever again */

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color: white !important;
}

#nav-screen {
	background-color: rgba(15, 33, 71, 0.5) !important;
}

#nav-screen a:hover {
	color: #0f2147 !important;
}

#current-sect {
	background: #e1ad17 !important;
}

#current-sect div {
	color: white !important;
	font-family: 'GlacialIndifferenceRegular' !important;
}

span.nav-arrow {
	z-index: 10;
}
span.nav-arrow p {
	font-family: 'GlacialIndifferenceRegular' !important;
}

span.nav-arrow:hover p{
	color: white !important;
}

span.nav-arrow:hover {
	color: #e1ad17 !important;
}