@media (min-width: 600px) {
  .desktop {
    display: block !important; }

  .mobile {
    display: none !important; } }
@media (max-width: 600px) {
  .desktop {
    display: none !important; }

  .mobile {
    display: block !important; } }
div#bot-gradient {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background: white;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
  background: -o-linear-gradient(rgba(255, 255, 255, 0), white);
  background: -moz-linear-gradient(rgba(255, 255, 255, 0), white);
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  z-index: 10;
  pointer-events: none; }

div.cover {
  position: fixed;
  z-index: 13;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F3F3F3;
  display: none; }

div.details {
  position: fixed;
  top: 50%;
  float: right;
  right: calc(50% - 450px);
  transform: translateY(-50%);
  max-width: 350px;
  display: none; }
  div.details img.cover {
    width: 350px;
    margin-bottom: 15px; }
    @media (max-width: 600px) {
      div.details img.cover {
        width: 270px; } }
  div.details img.facebook {
    margin-top: 8px;
    width: 20px;
    height: 20px;
    padding-right: 5px;
    border-right: 2px solid transparent;
    transition: ease-in-out 0.1s; }
  div.details img.facebook:hover {
    border-right: 2px solid #df0985; }
  div.details p {
    margin: 0px; }
  div.details p.desc {
    margin-top: 15px; }
  div.details p.mobile {
    padding-bottom: 15px; }
    div.details p.mobile span.date {
      padding-top: 0px;
      padding-left: 0px;
      float: left; }
    div.details p.mobile span.time {
      float: left;
      padding-left: 10px; }
  div.details span.date {
    padding-top: 6px;
    padding-left: 20px;
    float: right;
    color: #df0985;
    font-weight: 500; }
  div.details span.location {
    text-transform: uppercase; }
  div.details span.time {
    float: right;
    color: #df0985;
    font-weight: 500; }
  div.details span.title {
    font-weight: 600;
    font-size: 24px; }
  @media (max-width: 875px) {
    div.details {
      visibility: hidden; } }

div.event {
  position: absolute;
  padding-left: 50px; }
  div.event span {
    display: block;
    text-align: right;
    padding-right: 5px; }
  div.event span.date {
    border-bottom: 2px solid #848484;
    margin-left: -50px;
    padding-left: 50px;
    color: #00a1d3;
    font-size: 16px;
    font-weight: 500; }
  div.event span.title {
    padding-top: 4px;
    padding-right: 25px;
    margin-right: -20px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 600;
    transition: ease-in-out 0.1s; }
  div.event span.location {
    text-transform: uppercase; }
  div.event span.time {
    margin-top: 3px; }
  div.event div.dot {
    position: absolute;
    top: 18px;
    left: 0px;
    margin-left: -4px;
    width: 6px;
    height: 6px;
    background-color: white;
    border: 2px solid #00a1d3;
    border-radius: 100%;
    z-index: 5; }

div.event:hover {
  cursor: pointer; }
  div.event:hover span.title {
    background: linear-gradient(0deg, rgba(250, 224, 20, 0.7) 70%, #FFFFFF 30%); }

div#events-table {
  position: relative;
  top: 90px;
  padding: 8px; }
  div#events-table div.event-dot {
    position: absolute;
    bottom: -5px;
    left: -6px;
    width: 6px;
    height: 6px;
    background-color: white;
    border: 2px solid #00a1d3;
    border-radius: 100%;
    z-index: 5; }
  div#events-table div.row {
    position: relative;
    padding-left: 5px;
    padding-top: 20px;
    margin-left: -2px;
    border-color: #00a1d3;
    border-style: solid;
    border-width: 0px 0px 2px 2px; }
  div#events-table span {
    display: block; }
  div#events-table span.date {
    color: #00a1d3;
    font-size: 17px;
    font-weight: 500; }
  div#events-table span.title {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600; }
  div#events-table span.location {
    text-transform: uppercase; }
  div#events-table span.readmore {
    margin-top: 5px;
    margin-bottom: 3px;
    transition: ease-in-out 0.1s; }
  div#events-table span.readmore:hover {
    cursor: pointer;
    color: #df0985; }

div.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F3F3F3;
  z-index: 14;
  padding: 25px; }
  div.modal div.close {
    display: block;
    position: relative;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-right: -6px;
    cursor: pointer;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    vertical-align: center;
    color: #848484;
    transition: ease-in-out 0.1s;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg); }
  div.modal div.close:hover {
    color: #df0985;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg); }

div#page-extender {
  position: absolute;
  visibility: hidden; }

div#readmore {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: calc(20% + 325px);
  width: 100px;
  height: 100px;
  background: #F3F3F3;
  border-radius: 100%;
  display: block;
  text-align: center;
  transition: ease-in-out 0.15s; }
  div#readmore span#icon {
    display: block;
    font-size: 70px;
    font-weight: 500;
    color: #848484;
    transition: ease-in-out 0.15s; }
  div#readmore span#icon:hover {
    cursor: pointer; }
  div#readmore span#text {
    position: relative;
    top: -30px;
    color: #848484;
    transition: ease-in-out 0.15s; }
  div#readmore span#text:hover {
    cursor: pointer; }
  @media (max-width: 600px), (min-width: 875px) {
    div#readmore {
      display: none; } }

div#readmore:hover {
  cursor: pointer;
  background: #df0985; }
  div#readmore:hover span#icon {
    color: #F3F3F3; }
  div#readmore:hover span#text {
    color: #F3F3F3; }

div#top-back {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  background: white;
  z-index: 10; }

div#top-gradient {
  position: fixed;
  top: 90px;
  left: 0px;
  width: 100%;
  height: 80px;
  background: -webkit-linear-gradient(white, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(white, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(white, rgba(255, 255, 255, 0));
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  z-index: 10;
  pointer-events: none; }

div#hamburger-wrapper {
  position: fixed !important;
  z-index: 12 !important; }

div#nav-screen {
  z-index: 11 !important; }

header {
  position: fixed !important;
  z-index: 11 !important;
  width: 900px; }

p.down-message {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
  color: #848484;
  font-size: 10px;
  z-index: 11; }
  @media (max-width: 600px) {
    p.down-message {
      display: none; } }

p.up-message {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
  color: #848484;
  font-size: 10px;
  z-index: 11; }
  @media (max-width: 600px) {
    p.up-message {
      display: none; } }

svg#back-graphic {
  z-index: -1;
  display: none;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
  height: 100%; }
  svg#back-graphic circle {
    fill: none;
    stroke: #848484;
    stroke-width: 0.25; }

svg#indicator {
  display: none;
  position: fixed;
  top: -moz-calc(50% - 11px);
  top: -webkit-calc(50% - 11px);
  top: calc(50% - 11px);
  opacity: 0.5; }
  svg#indicator path {
    fill: #df0985; }

/*# sourceMappingURL=events.css.map */
