.name {
	padding-left: 300px;
	width: 303px;
	height: 36px;
	font-size: 30px;
	text-align: right;
	color: #000000;
}

.title {
	width: 166px;
	height: 24px;
	font-size: 20px;
	font-weight: 200;
	text-align: right;
	color: #000000;
}

.people-wrapper{
  float:right;
  height: 100%;
  width: 45%;
  background-color: darkslategrey;
  color:white;
}

.team-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.person_wrapper {
	float: left;
	height: 100%;
	width: 55%;
	background-color: ivory;
}

.bio {
  width: 80%;
  padding-left: 10%;
  font-size: 14px;
  text-align: left;
  color: #4a4a4a;
}

li {
  display: inline;
}

