.name {
	padding-left: 300px;
	width: 303px;
	height: 36px;
	font-family: SanFranciscoDisplay;
	font-size: 30px;
	text-align: right;
	color: #000000;
}

.title {
  width: 166px;
  height: 24px;
  font-family: SanFranciscoDisplay;
  font-size: 20px;
  font-weight: 200;
  text-align: right;
  color: #000000;
}

.people-wrapper{
  float:right;
  height: 100%;
  width: 45%;
}


.team-nav{
  margin-top: 96px;
  list-style-type: none;
}

.team-nav li{
  float:left;
}

.team-nav li a{
  display: block;
  padding: 8px;
  font-size: 20px;
  color:black;
}

.team-nav a:hover{
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.person_wrapper {
	float: left;
	height: 100%;
	width: 55%;
	background-color: ivory;
}

/*3x3 grid of team images*/

.row:after{
  content = "";
  display: table;
  clear:both;
}

.column {
  float:left;
  width:33%;
  padding:10px;
}

.small-img {
  width:100%;
  border-radius: 50%;
  margin-top: 12px;
}

/* responsive */
@media (max-width: 800px){
  .column {
        width: 100%;
    }
}