.name {
  width: 303px;
  height: 36px;
  font-family: SanFranciscoDisplay;
  font-size: 30px;
  text-align: right;
  color: #000000;
}

.title {
  width: 166px;
  height: 24px;
  font-family: SanFranciscoDisplay;
  font-size: 20px;
  font-weight: 200;
  text-align: right;
  color: #000000;
}

.people-wrapper{
  float:right;
  height: 100%;
  width: 45%;
  background-color: darkslategrey;
}
