/* Import variables */
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif; }

@font-face {
  font-family: 'Cooper Hewitt';
  src: url("../fonts/CooperHewitt-LightItalic.woff");
  font-style: italic;
  font-weight: 200; }
@font-face {
  font-family: 'Cooper Hewitt';
  src: url("../fonts/CooperHewitt-Light.woff");
  font-style: normal;
  font-weight: 200; }
@font-face {
  font-family: 'Cooper Hewitt';
  src: url("../fonts/CooperHewitt-BookItalic.woff");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'Cooper Hewitt';
  src: url("../fonts/CooperHewitt-Medium.woff");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Cooper Hewitt';
  src: url("../fonts/CooperHewitt-MediumItalic.woff");
  font-style: italic;
  font-weight: 400; }
/* Import universal styles */
*, *::before, *::after {
  box-sizing: border-box; }

html, body {
  background: #F7F7F7;
  font-family: 'Cooper Hewitt';
  font-weight: 300;
  height: 100vh; }

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default; }

p {
  margin-bottom: 0; }

.newsletter {
  width: 100%;
  padding: 64px;
  background-color: #d0d0d0; }
  .newsletter__text {
    color: black; }
  .newsletter__field {
    background-color: white;
    height: 20px; }

.footer {
  height: 64px;
  background-color: #303030;
  width: 100%; }

.content {
  height: 100%; }

/* Import components */
.nav {
  width: 180px;
  display: block;
  background-color: black;
  padding: 20px;
  color: white;
  font-weight: 300;
  position: fixed;
  /* Stay in place */
  z-index: 998;
  /* Stay on top */
  height: 100vh; }
  .nav__modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -5; }
  .nav__icon {
    margin-top: 10px;
    width: 140px;
    height: 55px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }
  .nav__options {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right; }
  .nav__option {
    display: block;
    padding: 5px;
    border-right: 2px solid transparent;
    color: #F7F7F7;
    text-decoration: none;
    transition: all 0.15s ease-in-out; }
    .nav__option:hover, .nav__option:focus {
      cursor: pointer;
      color: #F7F7F7;
      text-decoration: none;
      border-right: 2px solid #F7F7F7;
      padding-right: 10px;
      outline: none; }
  .nav__divider {
    margin-top: 20px;
    float: right;
    display: block;
    margin-bottom: 10px;
    background: #AAAAAA;
    width: 90px;
    height: 6px; }
  .nav__blurb {
    cursor: default;
    float: right;
    width: 120px;
    text-align: right;
    font-size: 14px;
    font-style: italic; }
    .nav__blurb__description {
      margin-top: 30px; }
    .nav__blurb__mission {
      font-weight: 400; }

#hamburger {
  background-color: black;
  padding: 8px 8px 0px 8px;
  position: fixed;
  top: 28px;
  right: 32px;
  z-index: 999;
  color: white; }

#hamburger:hover {
  cursor: pointer; }

.no-display {
  display: none; }

.no-scroll {
  overflow: hidden;
  height: 100vh; }

@media (max-height: 650px) {
  .nav__divider {
    display: none; }
  .nav__blurb {
    display: none; } }
@media (min-width: 700px) {
  .no-display {
    display: inherit; }

  #hamburger {
    display: none; }

  .content {
    margin-left: 180px; }
    .content .container {
      margin-left: 0px; }

  .no-scroll {
    overflow: initial; }

  .nav {
    display: block;
    width: 180px; }
    .nav__modal {
      display: none; } }
/* Import specific page styles */
.events-container {
  max-width: 1400px; }
  @media (max-width: 850px) {
    .events-container .desktop {
      display: none; }
    .events-container .mobile {
      display: block; } }

.desc__blurb {
  padding: 10px;
  font-size: 14px; }
.desc__divider {
  margin: 10px;
  background: #AAAAAA;
  opacity: 0.25;
  width: 130px;
  height: 8px; }
.desc__facebook {
  margin-left: 10px;
  color: #AAAAAA;
  transition: all 0.15s ease-in-out; }
  .desc__facebook:hover, .desc__facebook:focus {
    color: #444444;
    outline: none; }
.desc__img {
  width: 100%; }
.desc__title {
  margin: 0px;
  margin-top: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 28px; }
.desc__location, .desc__datetime {
  margin: 0px;
  padding: 0px 10px 5px 10px;
  font-size: 14px; }

.desktop {
  height: 100%;
  overflow: hidden; }
  .desktop__event {
    position: absolute;
    display: none;
    transform: translate(-4px, -24px);
    padding-left: 50px;
    border-color: #DDDDDD;
    font-size: 14px;
    text-align: right;
    cursor: pointer; }
    .desktop__event span {
      display: block; }
    .desktop__event__date {
      margin-right: -20px;
      padding-right: 20px;
      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-bottom-color: inherit;
      margin-left: -50px;
      padding-left: 50px;
      transition: all 0.15s ease-in-out; }
    .desktop__event__dot {
      position: absolute;
      top: 15px;
      left: 0px;
      margin-left: -4px;
      width: 14px;
      height: 14px;
      background-color: #F7F7F7;
      border-width: 3px;
      border-style: solid;
      border-color: inherit;
      border-radius: 100%;
      z-index: 5;
      transition: all 0.15s ease-in-out; }
    .desktop__event__title {
      margin-right: -20px;
      padding-right: 20px;
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 500;
      transition: all 0.15s ease-in-out; }
  .desktop__event:hover .desktop__event__date {
    margin-right: -35px;
    padding-right: 35px; }
  .desktop .active {
    border-color: #AAAAAA; }
  .desktop__lst {
    height: 100%;
    overflow: hidden; }
    .desktop__lst__bot-fade {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 80px;
      background: #F7F7F7;
      background: -webkit-linear-gradient(rgba(247, 247, 247, 0), #F7F7F7 60%, #F7F7F7);
      background: -o-linear-gradient(rgba(247, 247, 247, 0), #F7F7F7 60%, #F7F7F7);
      background: -moz-linear-gradient(rgba(247, 247, 247, 0), #F7F7F7 60%, #F7F7F7);
      background: linear-gradient(rgba(247, 247, 247, 0), #F7F7F7 60%, #F7F7F7);
      z-index: 10;
      pointer-events: none; }
    .desktop__lst__circle-back {
      position: absolute;
      top: -25vh;
      left: calc(-150vh + 10vw);
      height: 150vh;
      width: 150vh;
      border: 3px solid #DDDDDD;
      border-radius: 50%; }
    .desktop__lst__down-message {
      position: absolute;
      bottom: 7px;
      left: 50%;
      color: #AAAAAA;
      font-size: 12px;
      z-index: 11;
      transform: translateX(-50%); }
    .desktop__lst__indicator {
      position: absolute;
      top: calc(50% - 15px);
      left: 4vw; }
      .desktop__lst__indicator path {
        fill: #AAAAAA; }
    .desktop__lst__top-fade {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 80px;
      background: #F7F7F7;
      background: -webkit-linear-gradient(#F7F7F7, #F7F7F7 40%, rgba(247, 247, 247, 0));
      background: -o-linear-gradient(#F7F7F7, #F7F7F7 40%, rgba(247, 247, 247, 0));
      background: -moz-linear-gradient(#F7F7F7, #F7F7F7 40%, rgba(247, 247, 247, 0));
      background: linear-gradient(#F7F7F7, #F7F7F7 40%, rgba(247, 247, 247, 0));
      z-index: 10;
      pointer-events: none; }
    .desktop__lst__up-message {
      position: absolute;
      top: 7px;
      left: 50%;
      color: #AAAAAA;
      font-size: 12px;
      z-index: 11;
      transform: translateX(-50%); }
  .desktop__desc {
    height: 100%;
    max-width: 550px;
    padding-left: 0px;
    padding-right: 0px;
    background: #EEEEEE; }
    .desktop__desc__content-box {
      position: relative;
      display: none;
      top: 50%;
      transform: translateY(-50%); }

.mobile {
  display: none;
  height: 100%;
  padding-bottom: 10px;
  overflow-y: scroll; }
  .mobile__desc {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background: #F7F7F7; }
    .mobile__desc__close {
      margin-bottom: 5px;
      font-family: 'Roboto';
      font-size: 28px;
      font-weight: 500; }
      .mobile__desc__close__label {
        position: relative;
        top: -5px;
        margin-right: -3px;
        font-size: 14px; }
    .mobile__desc__content-box {
      position: relative;
      top: 50%;
      left: 50%;
      padding: 20px;
      transform: translate(-50%, -50%);
      max-width: 550px; }
  .mobile__event {
    position: relative;
    display: block;
    margin-left: 7px;
    padding: 10px;
    border-bottom: 3px solid #DDDDDD;
    border-left: 3px solid #DDDDDD;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.15s ease-in-out; }
    .mobile__event:hover {
      background: #EEEEEE; }
    .mobile__event span {
      display: block;
      margin-top: 2px;
      margin-bottom: 2px;
      pointer-events: none; }
    .mobile__event__dot {
      position: absolute;
      bottom: -9px;
      left: -9px;
      width: 14px;
      height: 14px;
      background-color: #F7F7F7;
      border: 3px solid #DDDDDD;
      border-radius: 100%;
      z-index: 10; }
    .mobile__event__location {
      font-style: italic; }
    .mobile__event__readmore {
      padding-top: 5px;
      cursor: pointer;
      color: #AAAAAA;
      font-style: italic;
      font-weight: 400; }
    .mobile__event__title {
      padding-bottom: 5px;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 20px; }

.grey {
  color: #595858; }

.dark-grey {
  color: #BABABA; }

.light-grey {
  color: #DDDDDD; }

.section {
  width: 100%; }

.header {
  background-color: #AAAAAA;
  position: relative;
  height: 100vh;
  min-height: 750px;
  background-size: cover;
  background-repeat: no-repeat; }
  .header__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .header__text {
    width: auto;
    margin: auto auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; }
  .header__tagline {
    text-transform: uppercase;
    font-style: italic;
    font-size: 36px;
    line-height: 30px; }
  .header__date {
    text-transform: uppercase;
    font-style: italic;
    font-size: 24px;
    padding-top: 24px;
    margin-bottom: -8px;
    margin-left: 5px; }
  .header__rawexpo {
    line-height: 49px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 65px;
    font-weight: 500; }
  .header__place {
    padding-left: 2px;
    text-transform: uppercase;
    line-height: 52px;
    font-size: 45px; }

.about {
  position: relative;
  margin-top: 45px;
  margin-bottom: 45px; }
  .about__content {
    width: 60%;
    margin: auto; }
  .about__header {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Roboto'; }
  .about__accent {
    height: 10px;
    width: 100px;
    background-color: #AAAAAA;
    margin-bottom: 30px; }
  .about__text {
    width: 60%;
    font-size: 18px; }
  @media (max-width: 980px) {
    .about__header {
      line-height: 1.0;
      margin-bottom: 30px; }
    .about__text {
      width: 100%; } }

.medium {
  position: relative;
  top: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center; }
  .medium__content {
    font-family: 'Roboto';
    font-size: 72px;
    font-weight: 700; }

.video {
  height: 100vh;
  background-color: black; }
  .video__embed {
    height: 100%;
    width: 100%; }

.news {
  position: relative;
  margin-top: 45px;
  margin-bottom: 45px; }
  .news__content {
    width: 60%;
    margin: auto;
    position: relative; }
  .news__header {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Roboto'; }
  .news__accent {
    width: 10px;
    height: 110px;
    background-color: #AAAAAA;
    position: relative;
    float: left;
    margin-left: 100px;
    margin-right: 100px; }
  .news__articles {
    font-size: 18px; }
    .news__articles__link {
      color: black;
      border-bottom: 3px solid transparent;
      transition: all 0.15s ease-in-out; }
      .news__articles__link:hover {
        color: black;
        text-decoration: none;
        border-bottom: 3px solid black; }
    .news__articles__title {
      font-weight: 500;
      padding-top: 10px; }
    .news__articles__author {
      display: inline-block;
      font-style: italic;
      font-weight: 300; }

.gallery__row {
  margin-bottom: 10px;
  margin-left: 10px;
  height: 33vh; }
.gallery__img {
  margin-right: 10px;
  width: 32%;
  height: 100%;
  float: left;
  background-size: cover;
  background-repeat: no-repeat; }

.collaborators {
  margin-top: 30px;
  width: 100%;
  text-align: center; }
  .collaborators__row {
    display: inline-block; }
  .collaborators__img {
    height: 150px;
    width: 150px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px; }
  .collaborators h1 {
    margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
