*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background: $white;
  font-family: 'Cooper Hewitt';
  font-weight: 300;
  height: 100vh;
  font-size: 14px;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

p {
    margin-bottom: 0;
}

.newsletter {
    width: 100%;
    padding: 64px;
    background-color: #d0d0d0;

    &__text {
        color: black;
    }

    &__field {
        background-color: white;
        height: 20px;
    }
}

.footer {
    height: 64px;
    background-color: #303030;
    width: 100%;
}

.content {
  height: 100%;
}
