*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background: $white;
  font-family: 'Cooper Hewitt';
  font-weight: 300;
  height: 100vh;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.content {
  height: 100%;
  margin-left: 180px;

  .container {
    height: 100%;
  }
}