@import 'utilities/colors';
@import 'utilities/margins';
@import 'utilities/transitions';


.design-panel-list {
  position: absolute;
  z-index: 2;
  margin-left: 45%;
  padding-right:25px;
  margin-top: 50px;
  overflow: hidden;
}

.banner {
  width: 70%;
  height: 100%;
  background-color: #f7f7f7;
}



.narrative {
  padding-top: 65%;
  width: 100%;
  overflow: hidden;


    &_quote {
      text-align: center;
      font-size: 25px;
      padding: 100px 200px 50px 200px;
      letter-spacing: 2px;


      &_author {
        font-size: 12px;
        padding-top: 10px;
      }
    }
    &__img {
        // background-color: black;
        height: 382px;
        background-size: cover;
        border: solid 50px $white;
        background-position: center;
    }


    &__submit {
        margin-left: 30%;
        background: transparent;
        color: $darkest-grey;
        outline: none;
        border: 3px solid $darkest-grey;
        padding: $small-margin $small-margin $small-margin $small-margin;
        cursor: pointer;
        transition: $default-transition;

        &:hover {
            border-color: $dark-grey;
            color: $dark-grey;
            text-decoration: none;
        }
    }


    &__text {
        padding: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
        max-width: 500px;
        margin: auto;

        &-wrap {
            width: 100%;
            min-height: 382px;
            display: inline-block;
        }
    }

    &__wrap {
        position: relative;
        min-height: 382px;

        &::after {
            content: ' ';
            display: block;
            clear: both;
        }

    }

}

@media screen and (min-width: 1200px) {


  .left {
      float: left;
  }

  .right {
      float: right;
  }


  .narrative {
    padding-top: 70%;
    &_quote {
      padding: 10%;
    }

    &__img {
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
    }

    &__right {
        right: 0;
    }

    &__left {
        left: 0;
    }

    &__text {
        max-width: 300px;
        padding-left: 0;
        padding-right: 0;

        &-wrap {
            width: 50%;
        }
    }



  }


}

@media screen and (max-width: 1150px) {

  div.design-panel-list {

    float: none;
    padding-top: 100%;
    z-index: 0;
    margin-left: 0;
    padding-right: 0;
    margin-top: 0;

  }

  .banner {
    width: 100%;
  }



  .narrative {
    padding-top: 210%;
    &_quote {
      padding: 10%;
    }

  }

}




@media screen and (max-width: 600px) {


  .narrative {
    padding-top: 200%;

    &_quote {
      padding: 10%;
    }

  }
}

@media screen and (max-width: 550px) {


    .narrative {
      padding-top: 220%;

      &_quote {
        padding: 10%;
      }

    }
}

@media screen and (orientation: landscape) and (max-width: 480px) {


    .narrative {
      padding-top: 240%;

      &_quote {
        padding: 10%;
      }

    }
}

@media screen and (orientation: portrait) and (max-width: 480px) {


    .narrative {
      padding-top: 260%;

      &_quote {
        padding: 10%;
      }

    }
}
