@import "utilities/variables";

div#google_calendar {
	position: relative;
	height: 0px;
	padding-bottom: 75%;
	overflow: hidden;
}
div#google_calendar iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

h1 {
	cursor: default;
	padding-top: 40px;
	color: $pink;
	font-family: 'Source Code Pro';
	font-size: 22px;
	text-align: center;
}