@import "utilities/variables";

div#bot-gradient {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background: white;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
    background: -o-linear-gradient(rgba(255, 255, 255, 0), white);
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), white);
    background: linear-gradient(rgba(255, 255, 255, 0), white);
    z-index: 10;
    pointer-events: none;
}
div.cover {
	position: fixed;
	z-index: 11;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $light-grey;
	display: none;
}
div.details {
	position: fixed;
	top: 50%;
	float: right;
	right: calc(50% - 450px);
	transform: translateY(-50%);
	width: 350px;
	// opacity: 1;
	display: none;

	img {
		width: 350px;
		margin-bottom: 15px;
	}

	p {
		margin: 0px;
	}
	p.desc {
		margin-top: 15px;
	}

	span {

	}
	span.date {
		padding-top: 6px;
		padding-left: 20px;
		float: right;
		color: $pink;
		font-weight: 500;
	}
	span.location {
		text-transform: uppercase;
	}
	span.time {
		float: right;
		color: $pink;
		font-weight: 500;
	}
	span.title {
		font-weight: 600;
		font-size: 24px;
	}

	@media (max-width: 875px) {
		visibility: hidden;
	}
}
div.event {
	position: absolute;
	padding-left: 50px;

	span {
		display: block;
		text-align: right;
		padding-right: 5px;
	}
	span.date {
		border-bottom: 2px solid $mid-grey;
		margin-left: -50px;
		padding-left: 50px;
		color: $blue;
		font-size: 16px;
		font-weight: 500;
	}
	span.title {
		padding-top: 4px;
		padding-right: 25px;
		margin-right: -20px;
		margin-bottom: 3px;
		font-size: 20px;
		font-weight: 600;
		transition: ease-in-out 0.1s;
	}
	span.location {
		text-transform: uppercase;
	}
	span.time {
		margin-top: 3px;
	}
	div.dot {
		position: absolute;
		top: 18px;
		left: 0px;
		margin-left: -4px;
		width: 6px;
		height: 6px;
		background-color: white;
		border: 2px solid $blue;
		border-radius: 100%;
		z-index: 5;
	}
}
div.event:hover {
	cursor: pointer;

	span.title {
		background: linear-gradient(0deg, rgba(nth($yellow-rgb, 1), nth($yellow-rgb, 2), nth($yellow-rgb, 3), 0.7) 70%, #FFFFFF 30%);
		// background: $yellow;
	}
}
div.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: $light-grey;
	z-index: 12;
	padding: 25px;

	div.close {
		display: block;
		position: relative;
		margin-top: -10px;
		margin-bottom: 10px;
		margin-right: -6px;
		cursor: pointer;
		float: right;
		width: 40px; 
		height: 40px;
		border-radius: 100%;
		font-size: 40px;
		font-weight: 500;
		text-align: center;
		vertical-align: center;
		color: $mid-grey;
		transition: ease-in-out 0.1s;

		-ms-transform: rotate(45deg); /* IE 9 */
	    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	    transform: rotate(45deg);
	}
	div.close:hover {
		// background: $pink;
		color: $pink;

		-ms-transform: rotate(-45deg); /* IE 9 */
	    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	    transform: rotate(-45deg);
	}
}
div#readmore {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: calc(20% + 325px);
	// right: 30px;
	width: 100px;
	height: 100px;
	background: $light-grey;
	border-radius: 100%;
	display: block;

	text-align: center;
	transition: ease-in-out 0.15s;

	span#icon {
		display: block;
		font-size: 70px;
		font-weight: 500;
		color: $mid-grey;
		transition: ease-in-out 0.15s;
	}
	span#icon:hover {
		cursor: pointer;
	}
	span#text {
		position: relative;
		top: -30px;
		color: $mid-grey;
		transition: ease-in-out 0.15s;
	}
	span#text:hover {
		cursor: pointer;
	}

	@media (max-width: 600px), (min-width: 875px) {
		display: none;
	}
}
div#readmore:hover {
	cursor: pointer;
	background: $pink;

	span#icon {
		color: $light-grey;
	}
	span#text {
		color: $light-grey;
	}
}
div#top-back {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 90px;
	background: white;
	z-index: 10;
}
div#top-gradient {
	position: fixed;
	top: 90px;
	left: 0px;
	width: 100%;
	height: 80px;
	background: -webkit-linear-gradient(white, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(white, rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(white, rgba(255, 255, 255, 0));
    background: linear-gradient(white, rgba(255, 255, 255, 0));
    z-index: 10;
    pointer-events: none;
}

header {
	position: fixed !important;
	z-index: 11 !important;
	width: 900px;
}

svg#back-graphic {
	z-index: -1;
	display: none;
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 900px;
	height: 100%;

  	circle {
  		fill: none;
		stroke: $mid-grey;
		stroke-width: 0.25;
  	}
}
svg#indicator {
	display: none;
	position: fixed;
	top: -moz-calc(50% - 11px);
	top: -webkit-calc(50% - 11px);
	top: calc(50% - 11px);

	opacity: 0.5;

	path {
  		fill: $pink;
  	}
}


div#events-table {
	div.column {
		box-sizing: border-box;
  		float: left;
  		width: 50%;
  		padding: 20px 8px 8px 8px;

		border-color: $mid-grey;
  		border-style: solid;
  		border-width: 0px;
	}
	div.event-dot {
		position: absolute;
		bottom: -5px;
		width: 6px;
		height: 6px;
		background-color: white;
		border: 2px solid $blue;
		border-radius: 100%;
		z-index: 5;
	}
	div.left {
		position: relative;
		padding-right: 15px;
		border-width: 0px 2px 2px 0px;
		text-align: right;

		div.event-dot {
			right: -6px;
		}
	}
	div.right {
		position: relative;
		padding-left: 15px;
		margin-left: -2px;
		border-width: 0px 0px 2px 2px;

		div.event-dot {
			left: -6px;
		}
	}
	div.row {
		padding-left: 1px;
	}

	span {
		display: block;
	}
	span.date {
		color: $blue;
		font-size: 17px;
		font-weight: 500;
	}
	span.title {
		padding-top: 5px;
		font-size: 20px;
		font-weight: 600;
	}
	span.location {
		text-transform: uppercase;
	}
	span.desc {
		padding-top: 5px;

	}

	@media (max-width: 550px) {
		div.column {
			width: 100%;
		}
		div.left {
			border-left: 2px solid $mid-grey;
			border-right: 0px;
			margin-left: 0px;
			text-align: left;

			div.event-dot {
				left: -6px;
			}
		}
		div.right {
			margin-left: 0px;
		}
		div.row {
			padding-left: 0%;
		}
		div.unselectable {
			padding: 0;
			display: none;
			height: 0px;
		}
	}
}
h1 {
	padding-top: 20px;
}