@import 'utilities/colors';
@import 'utilities/margins';
@import 'utilities/transitions';

.fullscreen-background {
    width: 100%;
    overflow: hidden;
    position: relative;

    &__video {
        overflow: none;
        min-width: 100%;
        min-height: 100vh;
        display: block;
    }

    &__promo {
        overflow: none;
        max-width: 100%;
        min-height: 90vh;
        display: block;
        background-color: #0b0b0b;
    }

    &__promo:hover {
      opacity: 0.9;
      cursor: pointer;
    }


    &__overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 5;
        position: absolute;
        top: 0;
    }

    &__text {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        text-align: center;
        z-index: 10;

        &__apply {
            margin-left: $smallest-margin;
            background: transparent;

            color:#FFF;
            outline: none;
            border: 3px solid #FFF;
            padding: $smallest-margin $small-margin $smallest-margin $small-margin;
            cursor: pointer;
            transition: $default-transition;

            &:hover {
                opacity:.7;
                text-decoration: none;
                color:#FFF;
            }
        }
    }




}



.narrative {
    width: 100%;

    &__img {
        background-color: black;
        height: 500px;
        background-size: cover;
        background-position: center;
    }

    &__desc {
        margin-top: $large-margin;
    }

    .apply-btn-dark {
        margin: auto;
        display: block;
        background: transparent;
        color: $darkest-grey;
        outline: none;
        border: 3px solid $darkest-grey;
        margin-top: $med-margin;
        padding: 7px $small-margin $smallest-margin $small-margin;
        cursor: pointer;
        transition: $default-transition;
        text-align: center;
        font-weight: 500;

        &:hover {
            border-color: $dark-grey;
            color: $dark-grey;
            text-decoration: none;
        }
    }

    &__form {
        margin-top: $med-margin;

        &__email {
            width: calc(100% - 90px);
            background: transparent;
            color: $darkest-grey;
            padding-top: $smallest-margin;
            padding-bottom: $smallest-margin;
            border: none;
            outline: none;
            border-bottom: 3px solid $darkest-grey;
        }

        &__submit {
            margin-left: $smallest-margin;
            background: transparent;
            color: $darkest-grey;
            outline: none;
            border: 3px solid $darkest-grey;
            padding: $smallest-margin $small-margin $smallest-margin $small-margin;
            cursor: pointer;
            transition: $default-transition;

            &:hover {
                border-color: $dark-grey;
                color: $dark-grey;
            }
        }


    }

    &__title {
        font-size: 2.5rem;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 8px;
    }

    &__text {
        padding: 32px;
        padding-top: 96px;
        padding-bottom: 96px;
        max-width: 450px;
        margin: auto;

        &-wrap {
            width: 100%;
            min-height: 360px;
            display: inline-block;
        }
    }

    &__wrap {
        position: relative;
        min-height: 500px;

        &::after {
            content: ' ';
            display: block;
            clear: both;
        }
    }
}

@media (min-width: 1200px) {
    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .narrative {
        &__img {
            height: 100%;
            width: 50%;
            position: absolute;
            top: 0;
        }

        &__right {
            right: 0;
        }

        &__left {
            left: 0;
        }

        &__text {
            max-width: 300px;
            padding-left: 0;
            padding-right: 0;

            &-wrap {
                width: 50%;
            }
        }
    }
}
