@import "utilities/variables";

div#center-box {
	position: relative;
	top: 36vh;
	transform: translateY(-50%);

	@media screen and (max-width: 500px) {
		top: 40vh;
	}
}
div#watermark {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	span {
		position: absolute;
		top: 60%;
		transform: translateY(-50%);
		left: 45%;
		color: $pink;
		opacity: 0.1;
		font-family: 'Source Code Pro';
		font-size: 50vw;
		font-weight: 600;
		white-space: nowrap;

		@media screen and (max-width: 500px) {
			top: 40%;
			left: 13%;
			font-size: 300px;
		}
	}
}
form div {
	text-align: center;
}
form i {
	position: relative;
	left: -4px;
	top: 6px;
	color: #CCCCCC;
}
form i:hover {
	cursor: default;
}
input[type=email] {
	display: inline-block;
	border: 0px;
	border-bottom: 1px solid #CCCCCC;
	background: #FFFFFF;
	color: #AAAAAA;
	padding: 15px 0px 10px 35px;
	// margin-top: 10px;
	margin-left: -30px;
	font-family: 'Source Code Pro';
	font-size: 18px;
}
input[type=submit] {
	display: inline-block;
	border: 3px solid $pink;
	background: $pink;
	color: white;
	font-family: 'Source Code Pro';
	font-size: 18px;
	margin-top: 10px;
	padding: 11px 20px 8px 20px;
	transition: ease-in-out 0.1s;
}
input[type=submit]:hover {
	background: white;
	color: $pink;
	cursor: pointer;
}
input:focus {
	outline: none;
}

p {
	margin-bottom: 50px;
	text-align: center;
}