@import "utilities/variables";

.grey {
	color: #595858;
}
.pink {
	color: $pink;
}
.blue {
	color: $blue;
}

div#center-block {
	@media screen and (min-width: 450px) {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
div#clock {
	text-align: center;
	margin-top: 20px;

	span.clock-item {
		display: inline-block;
		margin-left: 30px;
		margin-right: 30px;
	}
	span.clock-num {
		display: block;
		color: $mid-grey;
		font-size: 90px;
		font-weight: 400;
	}
	span.clock-label {
		display: block;
		margin-top: -25px;
		color: #ACACAC;
		font-size: 15px;
	}
}

p#header-block {
	text-align: center;

	span {
		display: block;
	}
	span#date {
		color: #898989;
		font-size: 25px;
		font-style: italic;
		font-weight: 500;
		letter-spacing: 3px;
		margin-bottom: 3px;
	}
	span.raw {
		font-size: 50px;
		font-weight: 600;
		line-height: 82%;
	}
	span#subtext {
		margin-top: -9px;
		color: #898989;
		font-size: 25px;
		font-style: italic;
		font-weight: 500;
		letter-spacing: 5px;
	}
	span#learnmore {
		margin-top: 20px;
		color: #898989;
		font-size: 20px;

		a {
			text-decoration: none;
		}
	}
}
p#signup {
	margin-top: 30px;
	color: #898989;
	font-size: 20px;
	text-align: center;

	a {
		display: block;
		text-decoration: none;
	}
}