@import "utilities/variables";

@font-face {
    font-family: "Cooper Hewitt Bold";
    src: url('../imgs/CooperHewitt-Bold.woff') format('woff'); 
}

.content-wrapper {
	position: relative;
	display: block;
	max-width: 900px;
	left: 50%;
	transform: translateX(-50%);
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {
	font-family: 'Source Sans Pro';
	font-size: 15px;
}

button.hamburger {
	position: absolute;	
	right: 0px;
	top: 40px;
}
button.hamburger:focus {
	outline: 0;
}

div#attributions {
	padding-bottom: 5px;
	font-family: 'Source Sans Pro';
	font-size: 9px;
	text-align: center;
}
div#attributions a {
	color: $pink;
	text-decoration: none;
}
div#hamburger-wrapper {
	position: absolute;
	max-width: 900px;
	width: 100%;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 101;
}
div#main-wrap {
	padding-left: 30px;
	padding-right: 30px;
}
div#nav-screen {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(nth($pink-rgb, 1), nth($pink-rgb, 2), nth($pink-rgb, 3), 0.9);
	display: none;
	z-index: 100;
}
div#nav-screen ul {
	position: relative;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);

	margin: 0px;
	padding: 0px;

	list-style: none;
}
div#nav-screen a {
	display: block;
	padding: 19px 30px 15px 0px;

	color: #FFFFFF;
	font-family: 'Source Code Pro';
	font-size: 25px;
	font-weight: 600;
	text-align: right;
	text-decoration: none;
	transition: ease-in-out 0.1s;
}
div#nav-screen a:hover {
	background: rgba(255, 255, 255, 0.7);
	color: $pink;
}

img#logo {
	position: relative;
	display: inline-block;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 200px;
}

h1 {
	color: $pink;
	font-family: 'Source Code Pro';
	font-size: 22px;
	font-weight: 600;
	text-align: center;
}