{% extends "components/base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<div class="narrative">
    <div class="narrative__wrap">
        <div class="narrative__text-wrap left">
            <div class="narrative__text" style="text-align:center;">
                <div class="narrative__title" >contact us</div> <br/>
                <b>President:</b> <br/> Mabel Lawrence<br/> ml935@cornell.edu <br/><br/>
                <b>Vice President:</b><br/> Cindy Wang<br/>cw653@cornell.edu<br/><br/>
                <b>Treasurer:</b><br/> Jill Wu <br/>jw975@cornell.edu<br/><br/>
                <b>Branding and Public Relations: </b><br/>Christine Yang<br/>cy292@cornell.edu<br/><br/>
                <b>Social:</b><br/> Kelly Fam<br/>kjf63@cornell.edu<br/><br/>
                <b>Adobe Representative: </b>Allen Luo<br/>alj389@cornell.edu <br/><br/>

                <div class="medium__content" style=" color:black;">
              		-m-
              	</div>
            </div>
        </div>
        <div class="narrative__img narrative__right" style="background-image: url('{% static 'imgs/raw.jpg' %}');"></div>
    </div>
    <!-- <div class="newsletter">
        <div class="newsletter__text">newsletter</div>
        <div class="newsletter__field"></div>
    </div>-->
</div>
{% endblock %}
