{% extends "components/base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="{% static 'css/designpanel.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6" style="background-image: url('{% static 'imgs/designpanel.png' %}')">
        </div>
        <div class="col-6">
            <div style="float:left" >
                <img src="{% static 'imgs/designpanel.png' %}" width="30%" height="30%" border-radius="50%">
                This is some text that goes next to the image
            </div>
            <div style="float:right">
                This is some text that goes next to the image
                <img  src="{% static 'imgs/designpanel.png' %}" width="30%" height="30%" border-radius="50%">
            </div>
            <div style="float:left">
                <img  src="{% static 'imgs/designpanel.png' %}" width="30%" height="30%" border-radius="50%">
                This is some text that goes next to the image
            </div>
            <div style="float:right">
                This is some text that goes next to the image
                <img  src="{% static 'imgs/designpanel.png' %}" width="30%" height="30%" border-radius="50%">
            </div>
        </div>
    </div>
  </div>

  <div class="narrative">
    <div class ="narrative_quote">
      "Good Design comes from the successful synthesis of a solution that recognizes
      all the relevant constraints, and the nature of the constraints defines the
      difference between design disciplines."
      <div class="narrative_quote_author">
        Bill Moddrige, Designing Interactions
      </div>
    </div>
      <div class="narrative__wrap">
          <div class="narrative__img narrative__right" style="background-image: url('{% static 'imgs/designpanel_2.jpg' %}');"></div>
          <div class="narrative__text-wrap left">
              <div class="narrative__text">
                  Now in its third iteration, discover how design is a way
                  of thinking and problem solving that can be applied by
                  any person to any field and any medium. Engage in dialogue
                  with leading design professionals across iteration, user
                  experience, design-thinking, architecture, about their approach
                  and applciation of design across different mediums.
              </div>
          </div>
      </div>
      <div class="narrative__wrap">
          <div class="narrative__img narrative__left" style="background-image: url('{% static 'imgs/designpanel_3.jpg' %}');"></div>
          <div class="narrative__text-wrap right">
              <div class="narrative__text">
                  The first half of the event will feature a Q&A session, while
                  the second half will feature a breakout session to foster
                  more intimate conversation between attendees and panelists.
                  Come curious, and prepare to be inspired!
              </div>
          </div>
      </div>
      <div class="narrative__wrap">
          <div class="narrative__img narrative__right" style="background-image: url('{% static 'imgs/designpanel_4.jpg' %}');"></div>
          <div class="narrative__text-wrap left">
              <div class="narrative__title"></div>
              <div class="narrative__text">
                  Our goal is for the panel to be an informal dialogue between
                  students and panelists. Share questions you want us to ask during
                  the panel here!

                  <a href="#" class="narrative__form__submit" role="button">submit questions</a>
              </div>
          </div>

      </div>

    </div>
    
    <!-- lol i attempted to add the icon pls try another idea w/o having the icon tile -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"  style="background-image: url('{% static 'imgs/favicon-180x180.png' %}'); height:200px;" ></div>
        <div class="col-4"></div>
      </div>
    </div> -->

{% endblock %}
