{% extends "components/base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="fullscreen-background">
    <video autoplay loop muted class="fullscreen-background__video">
        <source src="{% static 'videos/RAW.mp4' %}">
    </video>
    <div class="fullscreen-background__overlay"></div>
    <div class="fullscreen-background__text">
        <h1 class="unselectable">medium design collective</h1>
    </div>
</div>
<div class="narrative">
    <div class="narrative__wrap">
        <div class="narrative__text-wrap left">
            <div class="narrative__text">
                we believe the design process exists in every discipline. it is the blueprint that allows different
                disciplines to collaborate and innovate. medium aims to make design more accessible by hosting
                design-focused events, publishing an annual design review, and building a web platform to serve as
                an easy access poinfor students interested in design.
            </div>
        </div>
        <div class="narrative__img narrative__right" style="background-image: url('{% static 'imgs/raw.jpg' %}');"></div>
    </div>
    <div class="narrative__wrap">
        <div class="narrative__text-wrap right">
            <div class="narrative__text">
                <div class="narrative__desc">interested in hearing more about what's going on with design at cornell?</div>
                <form class="narrative__form">
                    <input type="email" class="narrative__form__email" placeholder="email address" />
                    <button type="submit" class="narrative__form__submit">flood my inbox</button>
                </form>
            </div>
        </div>
        <div class="narrative__img narrative__left" style="background-image: url('{% static 'imgs/team.jpg' %}');"></div>
    </div>
    <!-- <div class="newsletter">
        <div class="newsletter__text">newsletter</div>
        <div class="newsletter__field"></div>
    </div>-->
</div>
{% endblock %}