{% extends "components/base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="fullscreen-background">
    <video autoplay loop muted class="fullscreen-background__promo">
        <source src="{% static 'videos/promo_medium.mp4' %}">
    </video></a>
    <a class="fullscreen-background__videoclick" href="https://medium1.typeform.com/to/EvuQMw"><div class="fullscreen-background__overlay"></div>
    <div class="fullscreen-background__text">

    </div></a>

</div>


    <!-- <div class="newsletter">
        <div class="newsletter__text">newsletter</div>
        <div class="newsletter__field"></div>
    </div>-->
</div>
{% endblock %}
