{% extends "components/base.html" %}
{% load static %}

{% block resources %}
    <script src="{% static 'js/chart.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/people.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block content %}
    <div class="person_wrapper">
    {% for person in people %}
        <div class="person_inner" style="display:none" id="{{ person.id }}">
            <div class="name_outer">
                <div class="name">{{ person.name }}</div>
                <div class="title">{{ person.title }}</div>
            </div>

            <div class="bio_image_outer">
                <div class="bio__image" style="margin: 0 auto; border-radius: 50%; height: 160px; width: 160px; background-image:url('/media/{{ person.image1 }}');background-size: contain;"></div>
            </div>


            <div>
                <canvas class="stats" id="G{{ person.id }}"></canvas>
            </div>

            <script>

            </script>
            <div class="bio">{{ person.bio }}</div>
        </div>
{% endfor %}

    </div>
    
    <div class="people-wrapper">
        <ul class="team-nav">
            <li style='width:15%'><a id = "WB" href="#" onclick='updateCategory("WB")'>web</a></li>
            <li style='width:22%'><a id = "EV" href="#" onclick='updateCategory("EV")'>events</a></li>
            <li style='width:18%'><a id = "DS" href="#" onclick='updateCategory("DS")'>design</a></li>
            <li style='width:25%'><a id = "ED" href="#" onclick='updateCategory("ED")'>editorial</a></li>
        </ul>

        <div class="grid-container">
            {% for person in people %}
                <div class="{{ person.team }}" style="display: none; cursor:pointer; background-size: contain; background-image:url('/media/{{person.image2}}')" onclick="updateProfile({{ person.id}}, 
                    {{ person.stat1}}, {{ person.stat2}}, {{ person.stat3}}, {{ person.stat4}}, {{ person.stat5}}, {{ person.stat6}})"></div>
            {% endfor %}
		</div>
    </div> 
    
        </div>

        <script>

        //INITIAL LOAD, MUST UPDATE
        var currID = 2;
        var currCategory = "WB";
        updateProfile(currID, 30, 20, 23, 24, 35, 25);
        updateCategory(currCategory);


        function updateProfile(id,stat1, stat2, stat3, stat4, stat5, stat6) {
        	console.log(id);
            var selectedPerson = document.getElementById(id);
            var lastPerson = document.getElementById(currID);
            lastPerson.style.display = "none";
            selectedPerson.style.display = "block";
            currID = id;

            var ctx = document.getElementById("G" + id);
            var myChart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: ["connected", "deductive", "spatial", "auditory", "visual", "detailed"],
                    datasets: [{
                        label: 'character profile',
                        data: [stat1, stat2, stat3, stat4, stat5, stat6],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    tooltips: {
                        enabled: false
                    },
                    responsive: false,
                    scale: {
                        ticks: {
                            beginAtZero:true,
                            stepSize:20,
                            max: 100,
                            display: false
                        }
                    }
                }
            });
        }

        function updateCategory(catID) {

        	var x = document.getElementsByClassName(catID);

        	var y = document.getElementsByClassName(currCategory);

        	for(j=0;j<y.length;j++){
        		y[j].style.display = 'none';
        	}
            for(i=0;i<x.length;i++){
                x[i].style.display = 'block';
            }

            document.getElementById(''+currCategory).style.fontWeight = 300;
            document.getElementById(''+currCategory).innerHTML = document.getElementById(''+currCategory).innerHTML.toLowerCase();
            document.getElementById(''+catID).style.fontWeight = 800;
            document.getElementById(''+catID).innerHTML = document.getElementById(''+catID).innerHTML.toUpperCase();
            
            

            currCategory = catID;
        }
        </script>

    </div>


{% endblock %}

