{% extends "components/base.html" %}
{% load static %}

{% block resources %}
    <script src="{% static 'js/chart.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/people.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block content %}
    <div class="person_wrapper">
    {% for person in people %}
        <div class="person_inner" style="display:none" id="{{ person.id }}">
            <div class="name_outer">
                <div class="name">{{ person.name }}</div>
                <div class="title">{{ person.title }}</div>
            </div>

            <div class="bio_image_outer">
                <div class="bio__image" style="margin: 0 auto; border-radius: 50%; height: 160px; width: 160px; background-image:url('/media/{{ person.image1 }}');background-size: contain;"></div>
            </div>


            <div>
                <canvas class="stats" id="{{ person.name }}"></canvas>
            </div>

            <script>
            var ctx = document.getElementById("{{ person.name }}");
            var myChart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: ["connected", "deductive", "spatial", "auditory", "visual", "detailed"],
                    datasets: [{
                        label: 'character profile',
                        data: [{{ person.stat1 }}, {{ person.stat2 }}, {{ person.stat3 }}, {{ person.stat4 }}, {{ person.stat5 }}, {{ person.stat6 }}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    tooltips: {
                        enabled: false
                    },
                    responsive: false,
                    scale: {
                        ticks: {
                            beginAtZero:true,
                            stepSize:20,
                            max: 100,
                            display: false
                        }
                    }
                }
            });
            </script>
            <div class="bio">{{ person.bio }}</div>
        </div>
	{% endfor %}

    </div>
    
    <div class="people-wrapper">
        <ul class="team-nav">
            <li><a href="#">exec</a></li>
            <li><a href="#">editorial</a></li>
            <li><a href="#">events</a></li>
            <li><a href="#">design</a></li>
            <li><a href="#">web</a></li>
        </ul>

        <div class="grid-container">
        	{% for person in people %}
        		<div class="small-img" style="cursor:pointer; background-size: contain; background-image:url('/media/{{ person.image2 }}')" onclick="updateProfile({{ person.id }})"></div>
  			<!--<div class="small-img" style="cursor:pointer" background-size: contain; background-image:url('{% static 'imgs/team.jpg' %}')" onclick="updateProfile(2)"></div>
  			<div class="small-img" style="cursor:pointer" background-size: contain; background-image:url('{% static 'imgs/team.jpg' %}')" onclick="updateProfile(3)"></div>
  			<div class="small-img" style="background-size: contain; background-image:url('{% static 'imgs/team.jpg' %}')"></div> 
  			<div class="small-img" style="background-size: contain; background-image:url('{% static 'imgs/team.jpg' %}')"></div>
  			<div class="small-img" style="background-size: contain; background-image:url('{% static 'imgs/team.jpg' %}')"></div>
  			<div class="small-img" style="background-size: contain; background-image:url('{% static 'imgs/team.jpg' %}')"></div> 
  			<div class="small-img" style="background-size: contain; background-image:url('{% static 'imgs/team.jpg' %}')"></div>
  			<div class="small-img" style="background-size: contain; background-image:url('{% static 'imgs/team.jpg' %}')"></div>
  			<div class="small-img" style="background-size: contain; background-image:url('{% static 'imgs/team.jpg' %}')"></div>-->
  			{% endfor %}
		</div>
    </div> 
    
        </div>

        <script>
        var currID = 2;

        function updateProfile(id) {
        	console.log(id);
            var selectedPerson = document.getElementById(id);
            var lastPerson = document.getElementById(currID);
            lastPerson.style.display = "none";
            selectedPerson.style.display = "block";
            currID = id;

            //should generate graph here, pass in the whole person
        }
        </script>

    </div>


{% endblock %}

