{% extends "components/base.html" %}
{% load static %}

{% block content %}
<div class="header section" style="background-image: url('{% static 'imgs/raw.jpg' %}');">
<div class="header__overlay">
	<div class="header__text">
		<div class="header__tagline">
			come curious
			<div style="text-align:right">leave inspired</div>
		</div>
		<div class="header__date">spring 2018</div>
		<div class="header__rawexpo">raw expo</div>
		<div class="header__rawexpo dark-grey">raw expo</div>
		<div class="header__rawexpo light-grey">raw expo</div>
		<div class="header__place">milstein dome</div>
	</div>
</div>
</div>
<div class="about section">
<div class="about__content">
	<div class="about__header">
	what is raw expo?
	</div>
	<div class="about__accent"></div>
	<div class="about__text">
	RAW EXPO is an exposition of the creative process across campus. Student groups from any of Cornell's colleges are free to show off their work. RAW puts an emphansis on works in progress, so projects in the process of iteration are ideal. RAW provides an environment for the public to give feedback on projects, and participating organizations gain visibility within Cornell's design community.
	</div>
</div>
</div>
<div class="video section">
<iframe class="video__embed" src="https://www.youtube.com/embed/Z4S7TwntSUk" frameborder="0" allowfullscreen></iframe>
</div>
<div class="news section">
<div class="news__content">
	<div class="news__header">in the news</div>
	<div class="news__accent"></div>
	<div class="news__articles">
		<div class="news__articles__title">ARTICLE TITLE HERE <div class="news__articles__author"> -- Cornell Daily Sun</div></div>
	</div>
</div>
</div>
{% endblock %}