{% extends "components/base.html" %}
{% load static %}

{% block content %}

<div class="raw">

<div class="header section" style="background-color: #111;">
<div class="header__overlay">
<div class="header__pic" style="background-image: url('{% static 'imgs/raw_logo.png' %}');">
	</div>
</div>
<div class="header__marrow">
		<p>
			<span id="m">m</span> <br/>

		</p>
	</div>
	<div id="line1" class="line"><div class="inner"></div></div>
	<div id="line2" class="line"><div class="inner"></div></div>
	<div id="line3" class="line"><div class="inner"></div></div>
</div>


<!-- <script>
$(document).ready(function() {
  $("#scroll").on("click", function() {
    $('html, body').animate({
          scrollTop: $(".about").offset().top
      }, 600);
  });

});
</script> -->
</div>
<div class="about section" style="background-image: url('{% static 'imgs/raw_posters.jpg' %}');">
<div class="about__content">
	<div class="about__header">
	what is raw expo?
	</div>
	<div class="about__accent"></div>
	<div class="about__text">
	In America we have a tendency to create a filter, a well-meaning deception, which hides the unpleasant and unlikeable. A common phenomenon is the use of “friendly” branding, the use of design to make products feel warm and approachable even if they are not.
	Our focus is to look at the iterations of the design process which are often hidden or covered up.
	<br/><br/>
	We want to see the prototypes that were never released because they were not considered polished enough and the rough sketches that were thrown out because they might not be well received. These often hidden products reflect points of vulnerability in the creative process.
	<br/><br/>
	One may ask: what good will it do to expose this vulnerability?
	<br/><br/>
	Aside from stimulating critical thinking about the creative process it provides space for reflection: this way of thinking aims to guide the designer into elaborating on the idea that design holds intentions, purpose, and goals, giving concrete gestalt to a certain social purpose. Most importantly, however, the designer comes closer to understanding the complications which may arise if they overlook the “underexposed”.
	<br/><br/>
	RAW is an intellectually-stimulating dialogue for anyone who cares about the ethical and social implications of innovation and design, a call to action to take on social responsibility, NOT clubfest or career fair.

	RAW is informative, NOT “just cool.”
	RAW is interdisciplinary, NOT siloed.
	RAW is a celebration of creativity, NOT just quarter cards and swag (although we will have them).
	<br/>
	RAW EXPO will be held on <b>April 26th</b> from <b>7:30pm - 9:30pm</b> in <b>Milstein Dome.</b>
	<br/><a style="color:black; text-decoration:underline;" href="https://www.facebook.com/events/168087643848813/">RSVP</a> to see how your peers create.
	</div>
</div>
</div>

<div class="picture section">
	<div class="picture__img">
		<div  class='picture__img__img'><img id='pic_1' src='{% static 'imgs/raw/1.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_2' src='{% static 'imgs/raw/2.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_3' src='{% static 'imgs/raw/3.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_4' src='{% static 'imgs/raw/4.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_5' src='{% static 'imgs/raw/5.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_6' src='{% static 'imgs/raw/6.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_7' src='{% static 'imgs/raw/7.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_8' src='{% static 'imgs/raw/8.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_9' src='{% static 'imgs/raw/9.jpg' %}'/></div>
		<div class="picture__heading1"><h1>RAW EXPO</h1></div>
		<div  class='picture__img__img'><img id='pic_10' src='{% static 'imgs/raw/10.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_11' src='{% static 'imgs/raw/11.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_12' src='{% static 'imgs/raw/12.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_13' src='{% static 'imgs/raw/13.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_14' src='{% static 'imgs/raw/14.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_15' src='{% static 'imgs/raw/15.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_16' src='{% static 'imgs/raw/16.jpg' %}'/></div>
		<div class="picture__heading2"><h6>4.26.18<br/>MILSTEIN DOME<br/>730-930PM</h6></div>
		<div  class='picture__img__img'><img id='pic_17' src='{% static 'imgs/raw/17.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_18' src='{% static 'imgs/raw/18.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_19' src='{% static 'imgs/raw/19.jpg' %}'/></div>
		<div  class='picture__img__img'><img id='pic_20' src='{% static 'imgs/raw/20.jpg' %}'/></div>
		<div id="last_pic" class='picture__img__img'><img style="filter: none;" id='pic_21' src='{% static 'imgs/raw/21.jpg' %}'/></div>
	</div>



</div>
<div class="banner section" >
	<div class="banner__banner">
		<img src="{% static 'imgs/raw_banner.png' %}" />
	</div>
	<div class="banner__rsvp">
		<a href="https://www.facebook.com/events/168087643848813/">RSVP</a>
	</div>
</div>
<div class="medium section">
	<div class="medium__content">
		-m-
	</div>
</div>
</div>

{% endblock %}
