{% extends "components/base.html" %}
{% load static %}

{% block content %}

<div class="raw">

<div class="header section" style="background-color: #111;">
<div class="header__overlay">
<div class="header__pic" style="background-image: url('{% static 'imgs/raw_logo.png' %}');">
	</div>
</div>
<div class="header__marrow">
		<p>
			<span id="m">m</span> <br/>

		</p>
	</div>
</div>


<!-- <script>
$(document).ready(function() {
  $("#scroll").on("click", function() {
    $('html, body').animate({
          scrollTop: $(".about").offset().top
      }, 600);
  });

});
</script> -->
</div>
<div class="about section" style="background-image: url('{% static 'imgs/raw_posters.jpg' %}');">
<div class="about__content">
	<div class="about__header">
	what is raw expo?
	</div>
	<div class="about__accent"></div>
	<div class="about__text">
	RAW EXPO is an exposition of the creative process across campus. Student groups from any of Cornell's colleges are free to show off their work. RAW puts an emphansis on works in progress, so projects in the process of iteration are ideal. RAW provides an environment for the public to give feedback on projects, and participating organizations gain visibility within Cornell's design community.
	<br/><br/>
	Our focus is to look at the iterations of the design process which are often hidden or covered up.
	<br/><br/>
	We want to see the prototypes that were never released because they were not considered polished enough and the rough sketches that were thrown out because they might not be well received. These often hidden products reflect points of vulnerability in the creative process.
	<br/><br/>
	RAW EXPO will be held on <b>April 26th</b> from <b>7:30pm - 9:30pm</b> in <b>Milstein Dome.</b>
	<br/><a style="color:black; text-decoration:underline;" href="https://www.facebook.com/events/168087643848813/">RSVP</a> to see how your peers create.
	</div>
</div>
</div>

<div class="picture section">
	<div class="picture__img">
		<img id="pic_1" src="{% static 'imgs/raw.png' %}"/>
		<img id="pic_2" src="{% static 'imgs/raw_gallery_1.png' %}"/>
		<img id="pic_3" src="{% static 'imgs/raw_gallery_2.png' %}"/>
		<img id="pic_4" src="{% static 'imgs/raw_gallery_3.png' %}"/>
	</div>

</div>
<div class="banner section" >
	<div class="banner__banner">
		<img src="{% static 'imgs/raw_banner.png' %}" />
	</div>
	<div class="banner__rsvp">
		<a href="https://www.facebook.com/events/168087643848813/">RSVP</a>
	</div>
</div>
<div class="medium section">
	<div class="medium__content">
		-m-
	</div>
</div>
</div>
<div id="line1" class="line"><div class="inner"></div></div>
<div id="line2" class="line"><div class="inner"></div></div>
<div id="line3" class="line"><div class="inner"></div></div>
{% endblock %}
