{% extends "components/base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="{% static 'css/teams.css' %}">
{% endblock %}

{% block content %}
<div class="team">
    <div class="team__text">
        <div class="team__title">about us</div>
        <div class="team__paragraph">
            We are a group of humans who do things together for some reason. We occasionally get recognition within niche groups.
        </div>
        <div class="team__paragraph">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </div>
    </div>
    <div class="team__text">
        <div class="team__title">julian team</div>
        <div class="team__paragraph">
            everyone is julian lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </div>
    </div>
    <div class="team__profile-wrap">
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                this is the person's title
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
    </div>
</div>
{% endblock %}