{% extends "components/base.html" %}
{% load static %}

{% block resources %}
<link rel="stylesheet" href="{% static 'css/teams.css' %}">
{% endblock %}

{% block content %}
<div class="team">
    <div class="team__text">
        <div class="team__title">about us</div>
        <div class="team__paragraph">
            We are a group of humans who do things together for some reason. We occasionally get recognition within niche groups.
        </div>
        <div class="team__paragraph">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </div>
    </div>
    <div class="team__text">
        <div class="team__title">Brand Team</div>
        <div class="team__paragraph">
            everyone is julian lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </div>
    </div>
    <div class="team__profile-wrap">
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                this is the person's title
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
    </div>
    <div class="team__text">
        <div class="team__title">Events Team</div>
        <div class="team__paragraph">
            everyone is julian lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </div>
    </div>
    <div class="team__profile-wrap">
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                this is the person's title
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
    </div>
    <div class="team__text">
        <div class="team__title">Publication Team</div>
        <div class="team__paragraph">
            everyone is julian lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </div>
    </div>
    <div class="team__profile-wrap">
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                this is the person's title
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian</h3>
            <p>
                lorem ipsum lorem ipsum lorem ipsum
            </p>
        </div>
    </div>
    <div class="team__text">
        <div class="team__title">Web Team</div>
        <div class="team__paragraph">
            The web team is responsible for maintaining Medium Design
            Collective’s website. As a member of the web team, you will
            learn how to build and deploy webapps in python.
            You will also become proficient with unix environments,
            version control, front end web development, and UI + UX design.
        </div>
    </div>
    <div class="team__profile-wrap">
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Cindy Wang</h3>
            <p>
                Web Dev
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Fawn Wong</h3>
            <p>
                Team Lead
            </p>
        </div>
        <div class="team__profile">
            <div class="team__headshot">

            </div>
            <h3>Julian Ohta</h3>
            <p>
                Web Dev
            </p>
        </div>
    </div>
</div>
{% endblock %}