{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
 	<meta charset="utf-8">
 	<title>Medium Design Collective</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" >
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="nav">
        <img class="nav__icon" src="{% static 'imgs/logo_white.png' %}">
        <div class="nav__options">
            <a class="nav__option unselectable" href="{% url 'index' %}">
                home
            </a>
            <a class="nav__option unselectable">
                our teams
            </a>
            <a class="nav__option unselectable" href="{% url 'events' %}">
                events
            </a>
            <a class="nav__option unselectable" href="{% url 'rawexpo' %}">
                raw expo
            </a>
            <a class="nav__option unselectable">
                join us
            </a>
        </div>
        <div class="nav__divider"></div>
        <div class="nav__blurb">
            <div class="nav__blurb__mission">
                empowering creative individuals through design
            </div>
            <div class="nav__blurb__description">
                cornell’s first interdisiplinary design community and multi-dimensional platform
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
<script>feather.replace();</script>
</html>