$light-blue: #E6ECF5;
$light-brown: #DDCEAE;
$light-grey: #DDDDDD;
$mid-grey: #797979;
$pink: #CD67A2;
$transparent-white: rgba(247, 247, 247, 0);
$white: #F7F7F7;

$event-active: $light-brown;
$events-back: $light-blue;
$event-hover: $light-blue;
$events-wheel: $light-grey;
$nav-divier: $mid-grey;
$nav-highlight: $pink;