$lightest-grey: #EEEEEE;
$light-grey: #DDDDDD;
$mid-grey: #AAAAAA;
$dark-grey: #797979;
$darkest-grey: #444444;

$transparent-white: rgba(247, 247, 247, 0);
$white: #F7F7F7;

$event-active: $mid-grey;
$events-back: $lightest-grey;
$event-hover: $lightest-grey;
$events-wheel: $light-grey;
$nav-divier: $dark-grey;
$nav-highlight: $white;