.nav {
    width: 180px;
    background-color: black;
    padding: $med-margin;
    color: white;
    font-weight: 300;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    height: 100vh;
    display: none;

    &__icon {
        margin-top: $small-margin;
        width: 100%;
    }

    &__options {
        margin-top: $med-margin;
        margin-bottom: $med-margin;
        text-align: right;
    }

    &__option {
        display: block;
        padding: $smallest-margin;
        border-right: 2px solid transparent;
        color: $white;
        text-decoration: none;
        transition: $default-transition;

        &:hover {
            cursor: pointer;
            color: $white;
            text-decoration: none;
            border-right: 2px solid $nav-highlight;
            padding-right: $small-margin;
            // font-weight: 400;
        }
    }

    &__divider {
        margin-top: $med-margin;
        float: right;
        display: block;
        margin-bottom: $small-margin;
        background: $mid-grey;
        width: 90px;
        height: 6px;
    }

    &__blurb {
        cursor: default;
        float: right;
        width: 120px;
        text-align: right;
        font-size: 14px;
        font-style: italic;

        &__description {
            margin-top: $med-margin;
        }

        &__mission {
            font-weight: 400;
        }
    }
}

@media (max-height: 650px) {
    .nav {
        &__divider {
            display: none;
        }
        
        &__blurb {
            display: none;
        }
    }
}
@media (min-width: 700px) {
    .content {
        margin-left: 180px;
    
        .container {
            margin-left: 0px;
        }
    }

    .nav {
        display: block;
    }
}