{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/competition.css" %}">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
{% endblock %}

 <!doctype html>
<html lang="en">
<head>
 	<meta charset="utf-8">

 	<title>Medium Design Collective</title>
 	<meta name="description" content="Medium Design Collective">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css?family=Material+Icons|Source+Code+Pro|Source+Sans+Pro:400,700" rel="stylesheet">
	<link rel="stylesheet" href="{% static "css/universal.css" %}">
	<link rel="stylesheet" href="{% static "css/hamburgers.css" %}" >

	<link rel="shortcut icon" href="{% static "imgs/favicon.ico" %}" >
	<link rel="icon" type="image/png" href="{% static "imgs/favicon-192x192.png" %}" sizes="192x192">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "imgs/favicon-180x180.png" %}">

	<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
</head>

<body>
	<header class="content-wrapper">
		<a href="{% url 'index' %}"><img id="logo" src="{% static "imgs/logo_white.png" %}"></a>
	</header>

	<!-- Always on top, fixed on page -->
	<div id="hamburger-wrapper">
		<button class="hamburger hamburger--collapse" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner hamburger-color"></span>
			</span>
		</button>
	</div>

	<!-- Only visible on click -->
	<div class="unselectable" id="nav-screen">
		<ul>
			<li><a href="{% url 'index' %}"><span class="content-wrapper">Home</span></a></li>
			<li><a href="{% url 'competition' %}"><span class="content-wrapper">Competition</span></a></li>
			<li><a href="{% url 'events' %}"><span class="content-wrapper">Events</span></a></li>
			<li><a href="{% url 'about' %}"><span class="content-wrapper">About Us</span></a></li>
			<li><a href="{% url 'apply' %}"><span class="content-wrapper">Join Us</span></a></li>
		</ul>
	</div>




<div id="indicator-right">
</div>

<!-- Main body -->
<div class="content-wrapper" style="margin-top: -90px;">
	<div id="main-wrap">
	<div data-section-title="(Re)design Time" class="section">
		<div style="height:100%;display:table;width:80%">
			<span class="secspan" style="display:table-cell;vertical-align:middle;transform: translateY(10%)!important;">
				<div class="info" style="top:10px">EXHIBITION 02.27.2017 at MANN GALLERY</div>
				<div class="maintitle unselectable" style="font-family: 'BodoniFLF';"><span style="color:#e1ad17">(RE)</span>DESIGN<br>TIME</div>
				<div class="subt1">RE-THINK THE CONCEPT OF TIME THROUGH ANY MEDIUM</div>
				<div class="info">Submissions due 02.23.2017 @ 12:00PM</div>
				<div class="submit" style="color:#e1ad17"><a href="mailto:mediumdesigncollective@gmail.com">SUBMIT >></a></div>
			</span>
		</div>
		<span class="nav-arrow block-down-arrow unselectable">
			<p>What is this?</p>
			<i class="material-icons md-48">keyboard_arrow_down</i>
		</span> 
	</div>
	
	<div data-section-title="Information" class="section" id="about">
		<span class="nav-arrow block-up-arrow unselectable">
			<i class="material-icons md-48">keyboard_arrow_up</i>
			<p>(Re)design Time</p>
		</span> 
		<div style="height:100%;display:table;width:80%">
			<span class="secspan" style="display:table-cell;vertical-align:middle;">
				<div class="subheader">What is this?</div>
				<div class="info" style="margin-left:40px;">You or someone you know has probably thought, “I wish I had more time!”
				<br>More time to sleep?<br>Another minute so you didn’t just miss that bus?<br>An extra few hours to complete that assignment?<br>Or perhaps a year to do... nothing.<br><br>
				<i>(Re)design time is Medium's competition for this year. The style of competitions is open-ended: it could be physical artwork, writing, graphic design, or anything you can think of. We want to see your originality in relating your work to the concept of time and the process that brought you there.</i></div>
			</span>
		</div>
		<span class="nav-arrow block-down-arrow unselectable">
			<p>What do I need to know?</p>
			<i class="material-icons md-48">keyboard_arrow_down</i>
		</span> 
	</div>

	<div data-section-title="Rules" class="section" id="join">
		<span class="nav-arrow block-up-arrow unselectable">
			<i class="material-icons md-48">keyboard_arrow_up</i>
			<p>What is this?</p>
		</span> 
		<div style="height:100%;display:table;width:80%">
			<span class="secspan" style="display:table-cell;vertical-align:middle;">
				<div class="subheader">THEME:<span style="color:white"> (Re)design time</div>
				<div class="info" style="margin-left:40px;">Re-think the concept of time through the medium of your choice.</div>
				<div class="subheader">SUBMISSIONS:</div>
				<div class="info" style="margin-left:40px;">Deadline for submissions is 02.23.2017 @ 12:00PM. <br>Submissions should be sent to <a href="mailto:mediumdesigncollective@gmail.com" style="color: white;">mediumdesigncollective@gmail.com</a>.<br> If the project cannot be submitted by email, please contact us prior to the deadline with a request for how you would like to be judged. We will do our best to accomodate all submissions.</div>
				<div class="subheader">EXHIBITIONS:</div>
				<div class="info" style="margin-left:40px;">Winners‘ work will be exhibited in Mann Gallery soon after the competition deadline.</div>

				<div class="submit" style="color:#e1ad17"><a href="mailto:mediumdesigncollective@gmail.com">SUBMIT >></a></div>
			</span>
		</div>
	</div>
	</div>
</div>

<script src="{% static "js/home.js" %}"></script>
{% include "footer.html" %}