{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/events.css" %}">
{% endblock %}

{% include "header.html" %}

<div class="content-wrapper">
<h1 class="unselectable">Upcoming events</h1>
<div id="events-table">
	{% for event in events %}
	<div class="row clear-fix">
		{% if event.side == "right" %}
			<div class="column unselectable">&nbsp;</div>
		{% endif %}
		<div class="column {{ event.side }}">
			<span class="date">{{ event.date }}</span>
			<span class="title">{{ event.title }}</span>
			<span class="location">{{ event.location }}</span>
			<span class="desc">{{ event.description }}</span>
			<div class="event-dot"></div>
		</div>
		{% if event.side == "left" %}
			<div class="column unselectable">&nbsp;</div>
		{% endif %}
	</div>
	{% endfor %}
</div>
</div>

{% include "footer.html" %}