{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/events.css" %}">
{% endblock %}

{% include "header.html" %}

<div class="content-wrapper">
<h1 class="unselectable">Upcoming events</h1>
<div id="events-table">
	<div class="row clear-fix">
		<div class="column left">
			<span class="date">Feb. 22</span>
			<span class="title">Event Title</span>
			<span class="location">Event Location</span>
			<span class="desc">Description</span>
			<div class="event-dot"></div>
		</div>
		<div class="column unselectable">&nbsp;</div>
	</div>
	<div class="row clear-fix">
		<div class="column unselectable">&nbsp;</div>
		<div class="column right">
			<span class="date">Feb. 22</span>
			<span class="title">Event Title</span>
			<span class="location">Event Location</span>
			<span class="desc">Description</span>
			<div class="event-dot"></div>
		</div>
	</div>
</div>
</div>

{% include "footer.html" %}