{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% include "header.html" %}

<div id="indicator-left">
	<div class="unselectable" id="current-sect">
		<div>Welcome</div>
	</div>
</div>

<div id="indicator-right">
</div>

<!-- Main body -->
<div class="content-wrapper" style="margin-top: -90px;">
	<div id="main-wrap">
	<div data-section-title="Welcome" class="section">
		<div class="unselectable" id="splash">
			<h1>m</h1>
			<div id="dynamic-text"><span id="typed"></span></div>
		</div>
		<span class="nav-arrow block-down-arrow unselectable">
			<p>About Us</p>
			<i class="material-icons md-48">keyboard_arrow_down</i>
		</span> 
	</div>
	
	<div data-section-title="About Us" class="section" id="about">
		<span class="nav-arrow block-up-arrow unselectable">
			<i class="material-icons md-48">keyboard_arrow_up</i>
			<p>Welcome</p>
		</span> 
		<div>
			<h1>Fostering design at Cornell University</h1>
			<p>We believe the design process exists in every discipline. It is the blueprint that allows different disciplines to collaborate and innovate. We are Cornell University's first interdisciplinary design community and multi-dimensional platform that aims to connect disciplines through design. To accomplish this, we host design-focused events to bring together the Cornell community, publish an annual design review, and are working to build a web platform to improve the accessibility of design at Cornell.</p>
		</div>
		<span class="nav-arrow block-down-arrow unselectable">
			<p>Join Us</p>
			<i class="material-icons md-48">keyboard_arrow_down</i>
		</span> 
	</div>

	<div data-section-title="Join Us" class="section" id="join">
		<span class="nav-arrow block-up-arrow unselectable">
			<i class="material-icons md-48">keyboard_arrow_up</i>
			<p>About Us</p>
		</span> 
		<div>
			<h1>Want to learn more about design at Cornell?</h1>
			<form action="//facebook.us14.list-manage.com/subscribe/post?u=c1fc50d19af45d5476d2e29dd&amp;id=e9b8d5f6b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div><i class="material-icons unselectable">email</i>
					<input type="email" value="" placeholder="email" name="EMAIL" id="mce-EMAIL">
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c1fc50d19af45d5476d2e29dd_e9b8d5f6b3" tabindex="-1" value=""></div>
					<input type="submit" value="I can't say no" name="subscribe" id="mc-embedded-subscribe"></div>
					<div id="mce-responses">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>
			</form>
			<!-- <a id="join-us" href="{% url 'apply' %}">Or submit an application online &rarr;</a> -->
		</div>
	</div>
	</div>
</div>

<script src="{% static "js/home.js" %}"></script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{% include "footer.html" %}