{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/publication.css" %}">
{% endblock %}

{% include "header.html" %}

<!-- Main body -->
<div class="content-wrapper">
	<h1>The Annual <i>Medium Design Review</i></h1>
	<p>Embedded below is the 2016 <i>Medium Design Review</i>, the culmination of the work by last year's publication team. The goal of our publication is to expose diverse design pockets on campus and provide a unified perspective on Cornell's creative community.<br><br>This year's publication is in its final stages and is ready to hit the press!<br><br><i class="highlight">Want a copy of the 2017 shipped to you, worldwide?</i><br><br>We need your support to make the 2017 publication a tangible reality!</p><p>Visit our <a class="link" href="https://www.kickstarter.com/projects/493433317/medium-design-review-vol-ii">Kickstarter page</a> to order a copy and get other Medium swag</p>
	<div data-configid="10507456/47719648" class="issuuembed"></div>
		<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
	</div>
<div id="attributions">Icons by <a href="http://icons8.com">Icons8</a></div>
{% include "footer.html" %}