{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/rawexpo.css" %}">
{% endblock %}

{% include "header.html" %}

<div class="content-wrapper" style="height: calc(100% - 100px);">
	<div id="center-block">
		<p id="header-block">
			<span class="unselectable" id="date">April 27, 5:00 PM</span>
			<span class="raw grey unselectable">RAW EXPO</span>
			<span class="raw blue unselectable">RAW EXPO</span>
			<span class="raw pink unselectable">RAW EXPO</span>
			<span class="unselectable" id="subtext">It's happening.</span>
			<span id="learnmore">First time? <a class="pink" href="http://www.rawexpoglitch.splashthat.com">Last year's event</a></span>
		</p>

		<div class="unselectable" id="clock">
			<span class="clock-item">
				<span class="clock-num" id="days"></span>
				<span class="clock-label">Days</span>
			</span>
			<span class="clock-item">
				<span class="clock-num" id="hours"></span>
				<span class="clock-label">Hours</span>
			</span>
			<span class="clock-item">
				<span class="clock-num" id="minutes"></span>
				<span class="clock-label">Minutes</span>
			</span>
			<span class="clock-item">
				<span class="clock-num" id="seconds"></span>
				<span class="clock-label">Seconds</span>
			</span>
		</div>

		<p id="signup">Is your organization interested in being featured? <a class="pink" href="https://medium1.typeform.com/to/hHQrWc">Sign up</a></p>

		<a href="https://www.facebook.com/events/1857551147840646/" target="_blank"><img src="{% static 'imgs/facebook.png' %}" height="40" width="40" class="fb-img"></a>

		<div class="wrapper">

			<div class="wrapper__color-box wrapper__color-box--3">
			</div>
			<div class="wrapper__color-box wrapper__color-box--2">
			</div>
			<div class="wrapper__color-box wrapper__color-box--1">
			</div>
			<div class="wrapper__text">
				<div class="wrapper__title">
				WHAT IS RAW EXPO?
				</div>
				<div class="wrapper__paragraph">
					Come curious, leave inspired.
				</div>
				<div class="wrapper__paragraph">
					RAW EXPO is an exposition of the creative process
					across campus. Student groups from any of Cornell's
					colleges are free to show off their work. RAW puts
					an emphasis on works in progress, so projects in
					the process of iteration are ideal. RAW provides
					an environment for the public to give feedback on
					projects, and participating organizations
					gain visibility within Cornell's design community.
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="wrapper__title wrapper__title--black">
				FEATURED THIS YEAR
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/cunooz.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/ccr.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/cuair.jpg' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/cuappdev.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/cusd.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/designbuildfly.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/dfa.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/dragonday.jpg' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/ewb.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/ezrabox2.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/igem.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/marsrover.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/publicjournal.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/sabindesignlab.jpg' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/sbc.png' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/steelbridge.jpg' %}" class="wrapper__img">

				</img>
			</div>
			<div class="wrapper__col">
				<img src="{% static 'imgs/featured/thread.png' %}" class="wrapper__img">

				</img>
			</div>


			<div class="spacer"></div>
		</div>

		<div class="wrapper__title wrapper__title--black">
			LAST YEAR'S RAW EXPO GLITCH
		</div>
	</div>
	<iframe class="raw-video" src="https://www.youtube.com/embed/Z4S7TwntSUk" frameborder="0" allowfullscreen></iframe>


</div>
<script src="{% static 'js/rawexpo.js' %}"></script>

{% include "footer.html" %}